@{
    ViewData["Title"] = "Event Suggestions";
}

<h1>Make Their Day</h1>

<p>Make Their Day!</p>

<ul>
    <li>Kentucky Kingdom - Suitable for all ages, $55 per ticket, $70 Season Pass</li>
    <li>Science Museum - Suitable for ages 1-13, $32 per ticket</li>
    <li>Zoo - Suitable for all ages, $16 per ticket</li>
    <li>Public Park - Free for all ages</li>
</ul>
